@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy_extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

a {
    text-decoration: none;    
}

.main-logo {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000; 
        
}

.search,
.login-link,
.buy li {
    font-family: "open-sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #000000;

    list-style-type: none;
}

.main-navigation a {
    color: #000000;
}

.search input {
    opacity: 0.3;
    border: none;
}

.header-page-navigation li,
.footer-page-navigation li {
    font-family: "giltoyextrabold", "Arial black", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;

    list-style-type: none;
}

/*Вот тут кончается main header
____________________________

и начинается main footer*/

.main-footer-logo {
    color: #ffc600;
}

.main-footer p {
    font-family: "open-sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.footer-page-navigation li {
    color: #ffffff;
}

.footer-navigation a {
    color: #ffffff;
}

.user-navigation a,
.buy a {
    opacity: 0.7;
}

.best-items-slider p,
.text p {
    font-family: "open-sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
}
