@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy_light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    min-width: 960px;
}

a {
    text-decoration: none;    
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-logo {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000; 
        
}

.search,
.login-link,
.buy li {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;

    list-style-type: none;
}

.main-navigation a {
    color: #000000;
}

.search input {
    opacity: 0.3;
    border: none;
    background-color: #f7e296;
    margin-left: -125px;
}

.header-page-navigation > li,
.footer-page-navigation li {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;

    list-style-type: none;
}

/*Вот тут кончается main-header
____________________________

и начинается main-footer*/

.main-footer {
    position: relative;
    background-color: #464646;
    min-height: 325px;
}

.main-footer-logo {
    color: #ffc600;
}

.main-footer p {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.footer-page-navigation li {
    color: #ffffff;
}

.footer-navigation a {
    color: #ffffff;
}

.user-navigation a,
.buy a {
    opacity: 0.7;
}

.logo-html svg {
    fill: #ffc600;
}

/*Footer закончили, начинаемм main контейнер*/

.best-items-slider p,
.text p {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em; 
    color: #464646;
}

.best-items-slider b {
    font-family: "gilroyextrabold", "Aria black", sans-serif;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.01em;
    color: #000000;
}

.item-list li {
    width: 160px;
    min-height: 160px;
    margin-bottom: 50px;

    text-align: center;


    list-style-type: none;
}

.item-list p {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.features tr {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #464646;
}

.features tr:first-child {
    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #000000;
}

.help-list li,
.subcatalog li {
    list-style-type: none;
}

.help-list button,
.modal-feedback button,
.filter .button {
    border: none;

    width: 220px;
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 8px;
    padding-right: 0;
    
    background-color: transparent;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 16px,
        #f0c52e 16px,
        #f0c52e 24px,
        transparent 24px,
        transparent 100%);
}

.text h3 {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #000000;
}

.logo-companies a {
    filter: grayscale(100%);
    
    opacity: 0.3;
}

.about-us h3,
.contacts h3 {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #000000;
}

.delivery-companies li {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    
    list-style-type: circle;
}

.modal-feedback label {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.modal-feedback input[type="text"],
.modal-feedback input[type="email"],
.modal-feedback .text-feedback {
    font-family: "Open sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(70, 70, 70, 0.4);

    border: none;

    background-color: rgba(242, 242, 242, 0.5);
}

.footer-social li {
    margin-right: 23px;
    list-style-type: none;
}

.social-button svg {
    fill: #ffffff;
    opacity: 0.3;
}

.button a {
    color: #000000;
}

.button {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: #000000;

    width: 220px;
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 8px;
    padding-right: 0;

    background-color: transparent;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 16px,
        #f0c52e 16px,
        #f0c52e 24px,
        transparent 24px,
        transparent 100%);
}


/*Тут начинается стилизация main-container страницы каталога*/

.page-title {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.01em;

    color: #000000;
}

.breadcrumbs li {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;

    list-style-type: none;
}

.breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.filters h2,
.sort h2 {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;

    color: #000000;
}

.filter legend {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #000000;
}

.filter-option {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.01em;

    color: #000000;

    list-style-type: none;
}

.sort li {
    font-family: "Open sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    
    list-style-type: none;;

    margin-right: 30px;
}

.sort-item a {
    color: #000000;
}

.sort-item:not(:first-child) a {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item h3 {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;

    margin: 0;
}

.catalog-item {
    list-style-type: none;
}

.catalog-item a {
    color: #000000;
}

.catalog-item-price {
    font-family:  "gilroylight", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #464646;

    margin: 0;
}

.catalog-item-button li,
.pagination-list li {
    list-style-type: none;
}

.pagination-item {
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.pagination-item a {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a {
    color: #000000;
}

.pagination-helper .button {
    width: 160px;
    height: 40px;
}

.catalog-item-button-back,
.catalog-item-button-next {
    width: 126px;
    height: 70px;

    background-color: rgba(0, 0, 0, 0.08);
    background-image: none;
}

/*Начинаем стилизовать интерактивность элементов*/

.main-logo:focus,
.main-navigation a:focus,
.footer-page-navigation a:focus,
.logo-html a:focus,
.main-logo:hover,
.main-navigation a:hover,
.footer-page-navigation a:hover,
.logo-html svg:hover {
    opacity: 0.6;
    cursor: pointer;
}

.main-logo:active,
.main-navigation a:active,
.footer-page-navigation a:active,
.logo-html svg:active {
    opacity: 0.3;
}

.social-button:hover svg {
    opacity: 0.6;
}

.social-button:active svg {
    opacity: 0.1;
}

.search input[type="search"]:hover {
    opacity: 0.6;
}

.button:hover,
.button:focus {
    background-image: linear-gradient(
        to bottom,
        #f0c52e 0%,
        #f0c52e 100%);

        cursor: pointer;
}

.preview-item:hover {    
    cursor: pointer;
}

.preview-item:hover .container-preview {
    background-color: rgba(240, 197, 46, 1);
}

.preview-item:active svg,
.preview-item:active p {
    opacity: 0.3; 
}

.pagination-helper button:active,
.pagination-helper button:focus {
    height: 40px;
    color: #f7e184;

    background-image: linear-gradient(
        to bottom,
        #000000 0%,
        #000000 100%);
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.modal-feedback input[type="text"]:hover,
.modal-feedback input[type="email"]:hover,
.text-feedback:hover {
    background-color: rgba(242, 242, 242, 0.8);
}

.modal-feedback input[type="text"]:focus,
.modal-feedback input[type="email"]:focus,
.text-feedback:focus {
    color: #464646;

    background-color: #ffffff;
}

.modal-feedback input[type="text"]:invalid,
.modal-feedback input[type="email"]:invalid,
.text-feedback:invalid {
    background-color: #edb5b5;
}

.logo-companies a:hover {
    filter: none;

    opacity: 1;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.sort-item a:hover,
.sort-item a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active {
    color: rgba(0, 0, 0, 1);
}

.catalog-item-button-back:hover,
.catalog-item-button-next:hover {   
    background-color: rgba(0, 0, 0, 0.15);
    background-image: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
    color: #000000;
}

.footer-user-navigation a:hover,
.footer-buy a:hover,
.footer-user-navigation a:focus,
.footer-buy a:focus {
    opacity: 1;
}

.footer-user-navigation a:active,
.footer-buy a:active {
    opacity: 0.3;
}


/*-------------------------*/

.main-header .main-navigation {
    display: flex;
    flex-wrap: wrap;
    min-height: 210px;
    padding: 0;
    padding-left: 60px;
    padding-top: 15px;

    background-image: linear-gradient(white 18%, #f7e296 18%);
}

.best-items-slider {
    min-height: 486px;
    padding-left: 90px;
    padding-right: 60px;
    margin-bottom: 106px;

    background-image: linear-gradient(#f7e296 24%, white 24%);
}

.container-best-slider {
    display: flex;
    align-items: center;
}

.best-slider-description {
    margin-left: 128px;
    min-height: 490px;
    width: 485px;
    display: flex;
    flex-direction: column;
}

.item-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.preview-item .container-preview {
    min-height: 160px;
    width: 160px;
   background-color: rgba(240, 197, 46, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.pagination-helper-slider,
.help-list {
    display: flex;
    margin: 0;
}

.help-list {
    position: relative;
    margin-right: 245px;
}

.pagination-helper-slider {  
    min-height: 315px;  
    margin-bottom: 93px;
    padding-top: 90px;

    background-image: linear-gradient(white 29.5%, #e5e5e5 29.5%);
}

.pagination-helper-slider .text {
    width: 460px;
    position: relative;
}

.text h3 {
    margin: 0;
    margin-bottom: 30px;
}

.text p {
    margin: 0;
}

.help-list {
    flex-direction: column;
    padding-top: 10px;
    
}

.logo-companies {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}

.contacts-wrapper {
    display: flex;
}


.modal-feedback {
    display: none;
}

.wrapper {
    min-height: 220px;
    width: 1160px;
    margin: auto;
    margin-top: 0;
    padding: 0 20px;
}

.main-footer {
    min-height: 323px;
    width: 1440px;
    margin: auto;
    display: flex;
    margin-top: 80px;
    padding-top: 60px;
    padding-left: 0;
}

.main-footer .wrapper {
    display: flex;
}

.footer-navigation {
    display: flex;
}


/*Начинаю стилизовать страницу каталога*/

.container-catalog-filter {
    display: flex;
    justify-content: space-between;
}

.container-catalog {
    padding-left: 59px;
}

.breadcrumbs {
    display: flex;
}

.sort {
    display: flex;
}

.sort ul {
    display: flex;
    margin: 0;
    padding-top: 25px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap; 
    padding-left: 70px;
    padding-top: 55px;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    min-height: 70px;
    margin: 0;
    padding: 0;
    margin-left: 70px;

    background-color: #e5e5e5;
}

/* Начинается разметка микросетки header
___________________________________________
                                                                                         */    
                                                                                         
.header-page-navigation {
    order: 1;
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
    margin-bottom:0; 

    padding-left: 0;
}

.main-header-logo {
    align-self: flex-start;
}

.user-navigation,
.buy {
    padding: 0;
    display: flex;
    align-self: flex-end;
    margin-bottom: 23px;
}

.search {
    margin-right: 375px;
    position: relative;
}

.search::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/search.svg") no-repeat;
    position: absolute; 
    top: 7px;
    left: -160px;
}

.user-navigation {
    margin-right: 240px;
}

.login-link,
.compare,
.basket {
    position:relative;
}

.main-header .login-link::before {
    content: "";
    width: 13px;
    height: 12px;
    background: url("../img/user.svg") no-repeat;
    position: absolute;
    top: 8px;
    left: -25px;
}

.compare {
    margin-right: 60px;
}

.main-header .compare::before {
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/compare.svg") no-repeat;
    position: absolute;
    top: 10px;
    left: -22px;
}

.main-header .basket::before {
    content: "";
    width: 12px;
    height: 12px;
    background: url("../img/cart.svg") no-repeat;
    position: absolute;
    top: 8px;
    left: -22px;
}

.header-page-navigation > li:first-of-type {
    min-width: 220px;
    margin-right: 320px;

    position: relative;
}

.header-page-navigation > li:first-of-type::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/plus.svg") no-repeat;
    position: absolute;
    top: 3px;
    right: -25px;
}

.header-page-navigation li:nth-child(2) {
    margin-right: 35px;
}

.header-page-navigation li:nth-child(3) {
    margin-right: 110px;
}


/*Начинаю делать слайдер-
--------------------------------------------*/

.caption-slider {
    padding-top: 84px;
    margin-bottom: 17px;
    position: relative;
}

.caption-slider::before {
    content: "";
    height:1px;
    width: 94px;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    position: absolute;
    top: 40px;
}

.caption-slider::after {
    content: counter(count-slider, decimal-leading-zero);
    counter-increment: count-slider 1;
    font-family: "gilroyextrabold", "Arial black", sans-serif;
    font-size: 179px;
    line-height: 179px;
    letter-spacing: 0.01em;
    color: #ffffff;

    position: absolute;
    right: -15px;
    top: -10px;
}

.best-slider-description p {
    margin: 0;
    margin-bottom: 42px;
}

.features {
    min-width: 500px;
    margin-top: 40px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 7px;
}

.features td {
    padding-right: 70px;
}


/*Начинаю стилизовать и делать логику смены слайдов на главной странице
_____________________________________*/

.best-items-slider {
    position: relative;

    counter-reset: count-slider 0;
}

.container-best-slider-bracelet {
    display: none;
    position: absolute;
    top: 0;
    z-index: 10;
}

.fitness-bracellet-slide {
    margin-left: -30px;
    margin-right: 69px;
}

.container-best-slider-quadrupter {
    display: none;
    position: absolute;
    top: 0;
    z-index: 20;
}

.quadrupter-slide {
    margin-top: -10px;
    margin-left: -60px;
    margin-right: -80px;
}

.best-slider-description .caption-slider {
    min-width: 500px;
}

.features-quadrupter td {
    padding: 0;
    width: 70px;
}



/*Начинаю делать сетку items с svg картинками
--------------------------------------------*/

.container-preview-monopod svg {
    align-self: flex-end;
}

.container-preview {
    margin-bottom: 30px;
}

.preview-item p {
    margin: 0;
    text-align: left;
}

/*Начинаю делать блок с доставкой, гарантией и кредитом
--------------------------------------------------------*/

.help-list button {
    background-color: transparent;

    position: relative;

    outline: none;
}
             
.help-list .button-warranty::after {
    content: "";
    width: 118px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: -118px;
    top: 0;

    display: none;
}

.button-warranty:focus::after {
    display: inline;
}

.help-list .button-delivery::after {
    content: "";
    width: 118px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: -118px;
    top: 0;

    display: none;
}

.button-delivery:focus::after {
    display: inline;
}

.help-list .button-credit::after {
    content: "";
    width: 118px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: -118px;
    top: 0;
    display: none;
}

.button-credit:focus::after {
    display: inline;
}

.container-help-list {
    width: 1440px;
    margin: auto;
}

.pagination-helper-slider {
    padding-left: 100px;
}

.pagination-helper {
    margin-bottom: 20px;
}

.pagination-helper-slider h3 {
    position: relative;
}

.help-list::before {
    content: "";
    width: 1px;
    height: 315px;
    border: 3px solid black;
    background-color: black;
    position: absolute;
    right: -123px;
    top: -75px;
}

.text-delivery::after {
    content: "";
    position: absolute;
    right: -225px;
    top: 15px;
    width: 134px;
    height: 186px;
    background: url("../img/delivery.svg") no-repeat;
}


/*Блок с доставкой, гарантией и кредитом не доделан. оставлю на потом.
Начинаю делать блоки О нас и Контакты*/

.text-about-us {
    width: 500px;
}

.about-us h3 {
    margin-bottom: 45px;
}

.about-us,
.contacts {
    position: relative;
}

.about-us h3::before,
.contacts h3::before {
    content: "";
    width: 74px;
    height: 1px;
    background-color: black;
    border: 3px solid black;
    position: absolute;
    left: 0;
    top: -6px;
}

.text-about-us p:first-child {
    margin-bottom: 30px;
}

.text-about-us p:last-child {
    margin-bottom: 70px;
}

.text-about-us p {
    width: 475px;
}

.delivery-companies {
    padding-left: 35px;
    margin-bottom: 60px;
}

.delivery-companies li {
    margin-bottom: 10px;
}

.about-us .button {
    display: block;
    margin-left: 22px;
}

.contacts {
    margin-left: 100px;
}

.text-contacts p {
    margin-bottom: 35px;
}

.modal-map {
    margin-bottom: 50px;
}

.contacts .button {
    margin-left: 41px;
}


/*Начинаю делать подвал 
-----------------------------------------------------*/

.footer-logo-address {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 164px;
    min-width: 205px;
}

.main-footer-logo {
    margin-bottom: 25px;
}

.footer-logo-address p {
    margin:0;
}

.footer-logo-address p::after {
    content: "";
    width: 74px;
    height: 1px;
    background-color: #ffc600;
    border: 3px solid #ffc600;
    position: absolute;
    left: 0;
    bottom: 35px;
}

.wrapper-footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    padding-top: 43px;
    margin: 0;
    margin-right: 203px;
}

.footer-page-navigation {
    display: flex;
    justify-content: space-between;
    min-width: 425px;
    padding: 0;

}

.footer-social {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 0;
}

.user-link {
    display: flex;
    align-items: center;
    position: absolute;
    top: 47px;
    right: 372px;
}

.wrapper-phone-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 35px;
}

.main-footer .user-navigation {
    margin-right: 65px;
}

.main-footer .login-link::before {
    content: "";
    width: 13px;
    height: 12px;
    background: url("../img/user-footer.svg") no-repeat;
    position: absolute;
    top: 8px;
    left: -25px;
}

.main-footer .compare::before {
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/compare-footer.svg") no-repeat;
    position: absolute;
    top: 10px;
    left: -22px;
}

.main-footer .basket::before {
    content: "";
    width: 12px;
    height: 12px;
    background: url("../img/cart-footer.svg") no-repeat;
    position: absolute;
    top: 8px;
    left: -22px;
}



/*Начинаю микроразметку контента страницы каталога 
--------------------------------------------------------------------------*/

.container-catalog .page-title {
    margin-top: 40px;
    margin-bottom: 22px;
}

.breadcrumbs {
    padding: 0;
    padding-bottom: 30px;
}

.breadcrumbs li {
    margin-right: 39px;
    position: relative;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";
    width: 4px;
    height: 7px;
    background: url("../img/nav-arrow.svg") no-repeat;
    position: absolute;
    top: 9px;
    right: -20px;
}

.container-catalog-filter {
    width:1440px;
    min-height: 1287px;
    margin: auto;
}

.filters h2,
.sort h2 {
    text-transform: uppercase;
}

.filters,
.sort {
    background-color: #efefef;
}

.sort {
    position: relative;
    min-height: 70px;
    padding-left: 71px;
}

.sort h2 {
    padding-top: 23px;
    margin: 0;
    margin-right: 15px;
}

.filters h2 {
    padding-top: 23px;
    padding-left: 21px;
    margin: 0;
}

.filters {
    padding-left: 180px;
}

form.filter {
    min-width: 290px;
}

.main-footer-catalog {
    margin-top: 0;
}

.catalog-list li {
    margin-right: 40px;    
}

.catalog-item img {
    margin-bottom: 25px;
}

.catalog-item-option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.catalog-item-option h3 {
    width: 250px;
}

.catalog-item-button-back {
    margin-right: auto;
    height: auto;
    padding: 25px 0;
    
    background-color: #e5e5e5;
}

.catalog-item-button-next {
    margin-left: auto;
    height: auto;
    padding: 25px 0;

    background-color: #e5e5e5;
}

.catalog-item-button-next,
.catalog-item-button-back {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
}

.pagination-item-list {
    display: flex;
    justify-content: space-between;

    padding: 0;

    width: 90px;
}

.sort .sort-arrow {
    margin-left: 162px;
}

.sort-arrow li {
    margin-right: 20px;
    opacity: 0.2;
}

.sort-arrow li:hover {
    opacity: 0.4;
}

.sort-arrow li:active {
    opacity: 1;
}


/*Начинаю делать скрытый подкаталог
------------------------------------------------------*/


.subcatalog {
    display: none;
    position: absolute;    
    background-color: #f7e296;
    top: 18px;
    left: -60px;
    z-index: 50;
    min-height: 149px;
    width: 1160px;
    padding-top: 25px;
}

.subcatalog ul {
    margin: 0;
    padding: 0;
}

.subcatalog ul:first-child {
    padding-left: 60px;
    margin-right: 35px;
}

.subcatalog ul:nth-child(2) {
    margin-right: 75px;
}

.subcatalog a {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #000000;
    text-transform: none;
}

.catalog-button {
    position: relative;
}

.subcatalog:hover {
    display: flex;
}

.catalog-button:hover ~ .subcatalog,
.catalog-button:active ~ .subcatalog  {
    display: flex;
    z-index: 50;
}
